Source: rtpengine-dfx-repo-keyring
Section: misc
Priority: optional
Maintainer: Richard Fuchs <dfx@dfx.at>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://dfx.at/rtpengine/
Rules-Requires-Root: no

Package: rtpengine-dfx-repo-keyring
Architecture: all
Depends: ${misc:Depends}
Description: GPG keyring for dfx.at rtpengine repository
 GPG keyring for dfx.at rtpengine repository
